
.headerDetailProductPC {
  display: flex;
}

.headerDetailProductMobile {
  display: none;
}

@media screen and (max-width: 376px) {
  .headerDetailProductPC {
    display: none;
  }

  .headerDetailProductMobile {
    display: flex;
    position: absolute;
    top: 5%;
    left: 8%;
    right: 8%;
    z-index: 999;
  }

}