
.titlesLeft {
  top: 0;
  bottom: 0;
  left: 8%;
  margin: auto;
  height: 53px;
  line-height: 5px;
}

.titlesRight {
  top: 0;
  bottom: 0;
  right: 12%;
  margin: auto;
  height: 53px;
  line-height: 5px;
}